body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-weight: 700;
}
p{
    color: dimgray;
    text-align: justify;
}
div{
    height: 60%;
}
a{
    text-decoration: none;
    background: linear-gradient(270deg, orange,rgba(253, 175, 30, 0.705));
    border-radius: 5%;
    padding: 2% 5%;
    font-weight: 700;
    color: white;
    width: 50px;
    position: relative;
    /* margin-top: 10%; */
}
/* ================================================================= */
.upperdiv{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    /* border: 1px solid red; */
    margin-bottom: 3%;
}
#name-highlight{
    color: orange;
}
.upLeft{
    margin-left: 6%;
    width: 35%;
    height: 50%;
    /* display: inline-block; */
    float: left;
    /* border: 1px solid red; */
}
.upRight{
    padding: 4% 1% 1% 3%;
    display: inline-block;
    width: 35%;
    height: 50%;
    /* border: 1px solid red; */
}
.upRight img{
    width: 135%;
    height: 110%;
}

/*=======================================================================*/
.lowerdiv{
    background-image: ("images/dream-bg.png");
    /* background-position: right; */
    /* border: 1px solid black; */
    height: 100%;
    margin-bottom: 7%;
}
.lowleft{
    margin-left: 6%;
    width: 43%;
    height: 50%;
    /* display: inline; */
    float: left;
    /* border: 1px solid black; */
}
.lowRight{
    padding: 1% 1%;
    float: left;
    /* display: inline; */
    /* border: 1px solid yellow; */
    width: 40%;
    height: 50%;
}
.lowleft img{
    width: 100%;
    height: 100%;
    margin-top: 5%;
}
img.lastimg{
    margin-top: 10%;
    margin-right: 0;
}
/* =============================================================== */

.experience{
    /* border: 1px solid red; */
    margin-top: 5%;
    /* background-image: url("images/exp-bg.png"); */
    background-repeat: no-repeat;
    background-position: left;
    margin-left: 0;
    padding-left: 0;
    height: 50%;
}
.exp h3{
    color:orange;
}

.leftex{
    margin-left: 8%;
    width: 40%;
    /* display: inline-block; */
    float: left;
    border-left: 5px solid tomato;
    border-image: linear-gradient(salmon,red);
    border-image-slice: 1;
}
.rightex{
    margin-left: 6%;
    width: 40%;
    /* display: inline-block; */
    float: left;
    border-left: 5px solid blue;
    border-image: linear-gradient(blue, skyblue);
    border-image-slice: 1;
    /* box-shadow: rgba(75, 74, 73, 0.705); */
}

.exp{
    box-shadow: 2px 2px 40px gray;
    border-radius: 2%;
    height: 300px;
    margin-bottom: 5%;
    background-color: #fff;
}
.footer{
    text-align: center;
    padding: 5%;
}